<h1> Listing all Faculties</h1>
<p>
<%= link_to "HOME", root_path%> &nbsp;&nbsp;| &nbsp;&nbsp;<%= link_to "Sign up for faculty", new_faculty_path%>
</p>
<table>
  <tr>
    <th></th>
    <th> Name</th>
  </tr>

  <% @faculties.each do |f| %>
  <tr>
    <td><%= link_to gravatar_for(f) , faculty_path(f) %></td>
    <td><%= link_to f.firstname + " " +f.lastname, faculty_path(f) %></td>
  </tr>
  <% end %>
</table>
